<aside class="mdc-persistent-drawer mdc-persistent-drawer--open">
      <nav class="mdc-persistent-drawer__drawer">
        <div class="mdc-persistent-drawer__toolbar-spacer">
          <a style="width: 50px" href="dashboard.php" class="brand-logo mr-1">
						<img style="width: 50px;border-radius: 100%;" src="..\image\jpg\default-avatar.jpg" alt="logo">
					</a>
          <h4 class="mb-0">
            Admin
          </h4>
        </div>
        <div class="mdc-list-group">
          <nav class="mdc-list mdc-drawer-menu">
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="dashboard.php">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">desktop_mac</i>
                Dashboard
              </a>
            </div>
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="responden.php">
                <i class="fab fa-wpforms material-icons mdc-list-item__start-detail mdc-drawer-item-icon"></i>
                Responden
              </a>
            </div>
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="editProfil.php">
                <i class="fas fa-user-edit material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true"></i>
                Edit Profil
              </a>
            </div>
          </nav>
        </div>
      </nav>
    </aside>